@import "../Shared/Style/abstracts.scss";

.page-container {
    padding: 120px 100px;
    background: url(/images/Beehive-background.png) no-repeat center;
    background-size: cover;
}

.basic-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-container {
    display: flex;
    flex-flow: column nowrap;

    .full-name {
        font-size: 60px;
        font-weight: 600;
        color: $Primary;
    }

    .job-title {
        font-size: 30px;
        font-weight: 500;
        color: $Secondry;
        margin-bottom: 1rem;
    }

    .main-contact-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        div {
            width: 50%;
            margin-bottom: 10px;
            display: flex;
        }
    }
}

::deep .main-contact-info-icons {
    font-size: 18px;
    margin-right: 10px;
    color: $Secondry;
}

.my-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.page-content {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 30px;
}

.left-section {
    flex: 3;
    margin-right: 100px;
}

.right-section {
    flex: 2;
}

.section-title {
    font-size: 30px;
    margin: 20px 0;
    padding-bottom: 3px;
    border-bottom: 5px solid $Primary;
    color: $Primary;
    font-weight: bold;
}

.experience-item {
    padding-bottom: 20px;
    border-bottom: 2px dotted $Gray2;
    margin-bottom: 20px;

    &:last-child, &:only-child {
        border: none;
    }

    .experience-job-title {
        font-size: 20px;
        color: $Primary;
        margin-bottom: 5px;
    }

    .company-name {
        color: $Secondry;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .work-detail {
        display: flex;
        justify-content: flex-start;
        color: $Gray;

        span {
            font-size: 12px;
            margin: 2px 4px 0;
        }
    }

    .work-description {
        color: $Gray1;
    }
}


.language-container {
    padding-bottom: 15px;
    border-bottom: 2px dotted $Gray2;
    margin-bottom: 20px;

    &:last-child, &:only-child {
        border: none;
    }

    .lang-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .lang-text {
            font-weight: bolder;
            color: $Primary;
        }

        .lang-level {
            color: $Gray1;
            font-size: 14px;
        }
    }

    ::deep .bar {
        background-color: $Secondry;
        border-radius: 10px;
    }
}

.communication-way {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    border-bottom: 2px dotted $Gray2;
    margin-bottom: 15px;

    &:last-child, &:only-child {
        border: none;
    }

    span {
        font-weight: bolder;
        color: $Primary;
        margin-left: 10px;
    }
}

::deep .blue-icon {
    color: #2f69db;
    font-size: 24px;
    height: 24px;
}

.skills-container {
    padding-bottom: 7px;
    border-bottom: 2px dotted $Gray2;
    margin-bottom: 15px;

    &:last-child, &:only-child {
        border: none;
    }

    .skill-title {
        color: $Secondry;
        margin-bottom: 15px;
        font-size: 22px;
    }

    .skill-items {
        display: flex;
        flex-flow: row wrap;

        .skill-item {
            padding: 7px;
            border: 1px solid $Gray2;
            margin: 0 7px 7px 0;
            font-weight: bold;
            color: $Gray1;
        }
    }
}
