@page "/"

<PageTitle>About Me</PageTitle>

<div class="page-container">
    <div class="basic-information">
        <div class="info-container">
            <div class="full-name">Hassan Yousefi</div>
            <div class="job-title">Programmer</div>
            <div class="main-contact-info">
                <div class="phone-num">
                    <BitIcon IconName="BitIconName.Phone" AriaLabel="Phone Number" Class="main-contact-info-icons" />
                    <span>+98 922 118 0851</span>
                </div>
                <div class="email">
                    <BitIcon IconName="BitIconName.Mail" AriaLabel="Gmail" Class="main-contact-info-icons" />
                    <span>hasanusefi@69gmail.com</span>
                </div>
                <div class="github-link">
                    <BitIcon IconName="BitIconName.GitGraph" AriaLabel="Github" Class="main-contact-info-icons" />
                    <span>hasanusefi</span>
                </div>
                <div class="location">
                    <BitIcon IconName="BitIconName.Home" AriaLabel="Location" Class="main-contact-info-icons" />
                    <span>Iran, Tehran</span>
                </div>
            </div>
        </div>
        <img class="my-pic" src="/images/my-pic.jpg" />
    </div>
</div>