.background-shadow {
  background-image: linear-gradient(to right, #005aa7, #fffde4);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.modal-dialog {
  display: block;
  max-width: 1200px;
  height: 700px;
  margin: 15vh auto;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  z-index: 3;
  border-radius: 0.5rem;
}
.modal-dialog .modal-header {
  border-bottom: 1px solid gray;
  padding: 15px 30px;
  font-size: 18px;
}
.modal-dialog .modal-header h3 {
  margin-top: 0;
}
.modal-dialog .modal-header button {
  color: #fff;
  opacity: 0.8;
}
.modal-dialog .modal-header button:hover {
  opacity: 1;
}
.modal-dialog .modal-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: calc(100% - 56px);
  overflow: auto;
}
.modal-dialog .modal-content .modal-body {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 50px;
}
.modal-dialog .modal-content .modal-body .form-group {
  margin-bottom: 1rem;
  width: 100%;
}
.modal-dialog .modal-content .modal-body .form-group:last-of-type {
  margin: 0 !important;
}
.modal-dialog .modal-content .modal-body .form-group.w-50 {
  width: 48%;
}
.modal-dialog .modal-content .modal-body .form-group.w-50:nth-child(even) {
  margin-left: 4%;
}
.modal-dialog .modal-content .modal-body .form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.modal-dialog .modal-content .modal-body .form-group input[type=text],
.modal-dialog .modal-content .modal-body .form-group textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.modal-dialog .modal-content .modal-body .form-group input[type=text]:focus,
.modal-dialog .modal-content .modal-body .form-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.modal-dialog .modal-content .modal-body .form-group textarea {
  resize: none;
  min-height: 10rem;
}
.modal-dialog .modal-content .modal-body .form-group small.form-text {
  color: #6c757d;
}
.modal-dialog .modal-content .modal-body .card {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 25px;
}
.modal-dialog .modal-content .modal-body .card .card-body {
  display: flex;
  flex-flow: row wrap;
}
.modal-dialog .modal-content .modal-body .card .card-body .form-group {
  margin-bottom: 1rem;
}
.modal-dialog .modal-content .modal-footer {
  border-top: 1px solid #ccc;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-dialog .btn-primary {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background: #005aa7;
  transition: all 0.3s;
}
.modal-dialog .btn-primary:hover {
  background-color: #013d70;
}
.modal-dialog .btn-secondry, .modal-dialog .cancel-btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #ccc;
  margin-left: 10px;
  transition: all 0.3s;
}
.modal-dialog .btn-secondry:hover, .modal-dialog .cancel-btn:hover {
  background-color: #ccc;
}
.modal-dialog .cancel-btn:hover {
  color: white;
  background: #c90000;
}
.modal-dialog .input-group {
  display: flex;
}
.modal-dialog .input-group input {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}
.modal-dialog .input-group button {
  border-radius: 50%;
  margin-left: 10px;
  font-size: 24px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005aa7;
  transition: all 0.3s;
}
.modal-dialog .input-group button:hover {
  background-color: #013d70;
}
