.background-shadow {
    background-image: linear-gradient(to right, #005aa7, #fffde4);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.modal-dialog {
    display: block;
    max-width: 1200px;
    height: 700px;
    margin: 15vh auto;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    z-index: 3;
    border-radius: 0.5rem;

    .modal-header {
        border-bottom: 1px solid gray;
        padding: 15px 30px;
        font-size: 18px;

        h3 {
            margin-top: 0;
        }

        button {
            color: #fff;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }

    .modal-content {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        height: calc(100% - 56px);
        overflow: auto;

        .modal-body {
            display: flex;
            flex-flow: row wrap;
            padding: 30px 50px;

            .form-group {
                margin-bottom: 1rem;
                width: 100%;

                &:last-of-type {
                    margin: 0 !important;
                }

                &.w-50 {
                    width: 48%;

                    &:nth-child(even) {
                        margin-left: 4%;
                    }
                }

                label {
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                    display: block;
                }

                input[type="text"],
                textarea {
                    font-size: 1rem;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    border: 1px solid #ccc;
                    width: 100%;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                    &:focus {
                        outline: none;
                        border-color: #007bff;
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    }
                }


                textarea {
                    resize: none;
                    min-height: 10rem;
                }

                small.form-text {
                    color: #6c757d;
                }
            }

            .card {
                border: 1px solid #ccc;
                border-radius: 0.25rem;
                margin-bottom: 1rem;
                padding: 25px;

                .card-body {
                    display: flex;
                    flex-flow: row wrap;

                    .form-group {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .modal-footer {
            border-top: 1px solid #ccc;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .btn-primary {
        padding: 10px 20px;
        cursor: pointer;
        color: white;
        border-radius: 4px;
        background: #005aa7;
        transition: all 0.3s;

        &:hover {
            background-color: #013d70;
        }
    }

    .btn-secondry {
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        background: transparent;
        border: 1px solid #ccc;
        margin-left: 10px;
        transition: all 0.3s;

        &:hover {
            background-color: #ccc;
        }
    }

    .cancel-btn {
        @extend .btn-secondry;

        &:hover {
            color: white;
            background: #c90000;
        }
    }

    .input-group {
        display: flex;

        input {
            width: 200px;
            border: 1px solid #ccc;
            padding: 10px;
            font-size: 16px;
        }

        button {
            border-radius: 50%;
            margin-left: 10px;
            font-size: 24px;
            height: 40px;
            width: 40px;
            cursor: pointer;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #005aa7;
            transition: all 0.3s;

            &:hover {
                background-color: #013d70;
            }
        }
    }
}
